/*.primary-color {*/
/*    -fx-background-color: #3E3E3E;*/
/*    -fx-text-fill: #FFFFFF;*/
/*}*/

/*.secondary-color {*/
/*    -fx-background-color: #2D2D2D;*/
/*    -fx-text-fill: #FFFFFF;*/
/*}*/

.search-container {
    -fx-background-color: #2D2D2D;
    -fx-border-color: #D7D7D7;
    -fx-border-radius: 4;
    -fx-text-fill: #FFFFFF;
}

.menu-bar {
    -fx-border-color: #2D2D2D;
    -fx-border-width: 0 5 0 0;
    -fx-background-color: #2D2D2D;
    -fx-text-fill: #FFFFFF;
}

.scroll-pane > .viewport {
    -fx-background-color: #3E3E3E;
    -fx-text-fill: #FFFFFF;
}